video_test/node_modules/
video_test/.idea/
ANL-Combined/build/
ANL-Combined/Assets/sfg/Orc Warrior/
video_test/public/video/lizardTV1_mensch.mp4
video_test/public/video/lizardTVEidechser.mp4
ANL-Combined/Temp/
ANL-Combined/Library/
ANL-Combined/ProjectSettings/
ANL-Combined/.vs/
PictureFrame/Library/
